---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <div class="masthead">
    <style>
      body{ 
        background-image: url('img/IMG_7051.jpg');
        background-size: 40%;
        background-position: top left;
        background-repeat: no-repeat;
        background-color:rgb(200,200,200);
      }
    </style></div>

{% else %}
  <div class="masthead">
{% endif %}


    <div class="container">
      <div class="overlay"></div>

      <div class="container">
        <div class="row">
          <div class="col-sm-5" style="padding: 50vh 0 0 0 "> 
            <h2 style="color:white;"> Zhijing Li's website </h2> 
          </div>
          <div class="col-sm-7" style="height: 92vh; padding: 100px 0 150px">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  
